<div class="main-container">
    <img [src]="image" class="pic">
    <h1>Shan's <br /><span> app</span></h1>
</div>
<div class="shans">
<div class="login">Login</div>
<div class="container">
    
    <form action="">
        <label class="label">User name</label>
        <br/>
        <input class="input" type="text" >
        <br/>
        <label class="label" for="">Password</label>
        <br/>
        <input class="input" type="text">

    </form>
    

</div>
<div class="submit">
    <button class="btn">Submit</button>
</div>
</div>
