<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Indian</mat-card-title>
      <mat-card-subtitle>culture</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://wallpaperaccess.com/full/133807.jpg" alt="Indian-culture">
    <mat-card-content>
      <p>
        Indian culture is the heritage of social norms, ethical values, traditional customs, belief systems, political systems, artifacts and technologies that originated in or are associated with the ethno-linguistically diverse India.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  