<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list >
     
      <a mat-list-item [routerLink]="['/navigation/home']" ><p style="color:white ;">Home</p></a>
      <a mat-list-item [routerLink]="['/navigation/about']" ><p style="color:white ;">About</p></a>
      <a mat-list-item [routerLink]="['/navigation/indianculture']"><p style="color:white ;">Indian-culture</p></a>
      <a mat-list-item [routerLink]="['/navigation/Contact']"><p style="color:white ;">Contact</p></a>
      <a mat-list-item [routerLink]="['/navigation/shanslogin']"><p style="color:white ;">Shans Login</p></a>
      <a mat-list-item [routerLink]="['/navigation/culture']"><p style="color:white ;">Culture</p></a>
      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Indian-culture</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
    
  </mat-sidenav-content>
</mat-sidenav-container>
